.sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 116px;
  align-items: flex-start;
  /* max-height: 56px; */
}

.sidebar__name {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
}

.sidebar__profile-info {
  display: flex;
  align-items: center;
}

.sidebar__profile-manager {
  display: flex;
  flex-direction: column;
  margin-top: 39px;
}

.sidebar__edit-btn {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  padding: 0;
  font-weight: 700;
  line-height: 24px; /* 120% */
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.sidebar__logout-btn {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  background-color: #fff;
  padding: 0;
  margin-top: 8px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 870px) {
  .sidebar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin: 0;
  }
}
