.pokemon__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 50px 25px;
  box-sizing: border-box;
}

.pokemon__info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}
.pokemon__index {
  color: rgba(0, 0, 0, 0.9);
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.pokemon__name {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.pokemon__types-wrapper {
  display: flex;
  text-transform: capitalize;
  color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 20px;
  gap: 10px;
}

.pokemon__types {
  padding: 5px 5px 5px 5px;
  min-width: 50px;
}

.pokemon__image {
  min-width: 285px;
}

.pokemon__genus {
  background-color: #37b5aa;
  color: #fff;
  margin-top: 5px;
  padding-top: 3px;
  width: 100%;
  height: 30px;
  text-align: center;
}

.pokemon__entry {
  margin-top: 10px;
}

.pokemon__details-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.pokemon__weight {
  font-size: 20px;
}

.pokemon__height {
  font-size: 20px;
}

.pokemon__abilities-container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.pokemon__ability {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
}

.pokemon__stats-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.pokemon__progress {
  height: 25px;
}

.pokemon__stat-name {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
}
