.profile {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

@media screen and (max-width: 870px) {
  .profile {
    display: grid;
    padding: 0;
  }
}
