.modal__mobile-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 60px 0px;
  min-width: 280px;
  max-height: 300px;
}

.modal__mobile-close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  background: transparent url(../../images/close-grey.svg) center no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.modal__mobile-signup-btn {
  background-color: #fff;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border: none;
  padding: 0;
  margin-bottom: 15px;
  cursor: pointer;
}

.modal__mobile-login-btn {
  background-color: #fff;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border: none;
  padding: 0;
  cursor: pointer;
}
